@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
.manrope{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
/* shared */
header{
    max-width: 1200px;
    margin: 0 auto;
}
.btn-primary{
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
    border: none;
    border-radius: 20px;
    color:#fff;
    padding: 8px;
 
}
main>section{
    margin-top: 180px;
}
.btn-primary:hover{
    background-color:#FB8200;
}
/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.logo{
    font-size: 24px;
    color: #3A3A3A;
}
.navbar-right ul{
    display: flex;
}
.navbar-right ul li{
    list-style: none;
    margin-left: 34px;
    font-size: 16px;
}
.navbar-right ul li a{
    text-decoration: none;
    color: #3A3A3A;

}
.bannar-section{
    display: flex;
    justify-content: space-between;
   
}
.bannar-left{
    margin-top: 146px;
    max-width: 582px;
    height: 270px;
    margin-bottom:1rem ;
}
.bannar-title{
    font-size:3.25rem ;
}
.bannar-left i{
   margin-left: 5px;
    
}.img-2{
    position: relative;
    margin-left: -600px;
    margin-bottom: -100px;
}
.par-logo{
    max-width: 1110px;
    margin: 0 auto;

}
.partner-logo{
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
}
.container-log{
 display: flex;
 justify-content: space-between;

}
/*popular collection style  */
.popular-collection{
    max-width:1088px;
    margin: 0 auto;
   

}
.popular-container{
     display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}
.popular-head-title{
    text-align: center;
    font-size:1.75rem ;
}
.popular-iltems{
    box-shadow: 0 0 40px 0 #787885;
    text-align: center;
    padding: 15px 10px;
}
.popular-iltems img{
    width: 100%;
}
.popular-title{
    font-size: 1.75rem;
    margin-bottom: 0;
    margin-top: 0;
}
.popular-price{
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
}
.popular-iltems i{
    
}
.rating{
    font-size: 0.875rem;
    color: #5E6366;
}
.rating i{
   font-size: 14px;
   color: #FB8200;
}
#star-spa::after{
    background-color:#FB8200;
}
.pupolar-description{
    font-size: 14px;
    color: #787885;
     font-family: "Inter", sans-serif;
     font-weight: 700;
}
.mare-arrow{
    margin-top: 30px;
    align-items: center;
    margin-left: 1200px;
    font-size: 16px;
    color: #E02C6D;
    cursor: pointer;
    
}
/* featureds products style */
.featureds{
    margin-top: 130px;
}
.featured-products{

    max-width: 1110px;
    margin: 0 auto;
}
.features-container{
    display: flex;
    justify-content: space-between;
}
.featureds-description{
    max-width: 610px;
}
.feature-title{
    font-size: 38px;
    color: #0A0826;
}
.featured-description{
    font-size: 16px;
    color: #6C6C6C;
}
.btn-sub{
    background-color: #E02C6D;
    border: none;
    padding: 8px;
    color: #ffff;
    text-align: center;
    font-size: 1rem;
}
.btn-sub:hover{
    background-color: #FB8200;
}
.btn-sub i{
    padding: 10px;
    font-size: 16px;
}
/* Footer Section Style */
.footer-section{
    margin-top: 130px;
    background-color:#0A0826;
    padding:10px ;
    height: 200px;
}
.container{
    text-align: center;

     
}
.footer-title{
    color: #ffff;
    font-size: 1.5rem;
    margin-bottom: 6px;
}
.copyright, .reserved{
    color: #D9DBE1;
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 4px;
}
.reserved{
    margin-top: 0;
}
.social-icon{
    color: #fff;
    margin-top: 17px;
    text-align: center;
    
}
.social-icon i{
    margin-left: 14px;
}